html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font('ms');
  font-size: 14px;
  letter-spacing: .5px;
  color: #ffffff;
  background-color: #223954;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
}

main {
  background: url('../images/main-bg.jpg') center no-repeat;
  background-size: cover;
  min-height: 3000px;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  position: relative;
  font-size: 17px;
  background-color: #2763fb;
  padding: 15px 30px;
  z-index: 5;
  transition: .3s ease;
  border: 3px solid transparent;


  &::before {
    position: absolute;
    content: "";
    border: 3px solid #fff;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: -1;
    transition: .3s ease;
  }

  &:hover {
    border: 3px solid #fff;

    &::before {
      transform: translate(-10px, -10px);
      border-color: transparent;
    }
  }
}

.section-title {
  @include font('ms-semibold');
  font-size: 36px;
}

::-webkit-scrollbar {
  background-color: #395b80;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e82f5;
  width: 8px;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}